.slider {
    height: 100%;
}

.slider__slides {
    /* max-height: 80vh; */
    position: relative;
    display: flex;
    /* align-items: center; */
    gap: 3rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    /* scroll-snap-type: x proximity; */
    overscroll-behavior-x: contain;
}

.slider__slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-template-rows: 100%;
}

.slider__slide>img, video {
    max-width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

.slider__slide>video {
    max-width: 100%;
    height: 100%;
}

/* Navigation */
.slider__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;
}

.slider__nav>button {
    font-family: sans-serif;
    background: black;
    color: white;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    pointer-events: initial;
}

.slider__nav>button:hover {
    background: gray;
    cursor: pointer;
}

/* Modifiers */
.slider--fullscreen {
    /* height: 100vh; */
}

.slider--fullscreen .slider__slides::-webkit-scrollbar {
    display: none;
}

.slider--fullscreen .slider__slides {
    gap: 0;
    height: 100%;
    width: 100%;
}

.slider--fullscreen .slider__slide {
    margin: 0;
    /* border:1px solid; */
}

.slider--fullscreen .slider__slide img, video, div {
    /* object-fit: cover; */
    width: auto;
    height: 100%;
}
.fit{
    object-fit: cover;
}
.center-case{
    display: flex;
    align-self: center;
    justify-content: center;
}

.slider--fullscreen .slider__slide img{
    filter: grayscale(1);
}
/* .slider--fullscreen .slider__slide img:hover{
    filter: grayscale(0)!important;
} */
/* .slider--fullscreen .slider__slide video {
    width: 100%;
    height: 100%;
  } */